@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
@font-face {
  font-family: Volkswagen;
  src: url("../fonts/VW.ttf");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.active {
  font-weight: bold;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__content__hr--small,
.services__hr--small,
.contact__hr--small {
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #27186d;
  border: none;
}

.about__content__hr--small {
  margin-left: 0;
}

.about__content__title,
.services__title,
.contact__title {
  color: #27186d;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.services__title,
.contact__title {
  text-align: center;
}

.logo {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 95px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__title {
  font-family: 'Volkswagen';
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  line-height: 1.2;
}

.navbar__nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 10px 0;
  margin: 10px;
}

.navbar--scroll {
  background: #fff;
  position: fixed;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.navbar--scroll a,
.navbar--scroll i {
  color: #27186d;
}

.hero {
  height: 100vh;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: 50% -25px;
  background-repeat: no-repeat no-repeat;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6667%;
          flex: 0 0 66.6667%;
  max-width: 66.6667%;
  min-height: 1px;
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin: 0 auto;
}

.hero__content__txt {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}

.hero__content__name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 3rem;
  margin-top: 0;
}

.hero__content__btn {
  background-color: #27186d;
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2em;
  border: 2px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.hero__content__btn:hover {
  background-color: #1e1253;
  border-color: #1e1253;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4em;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a :hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 12px;
  right: 17.5px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav__btn {
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  left: 15px;
  padding: 0.8em;
  display: none !important;
  position: relative;
}

.sidenav__content {
  position: relative;
}

.about {
  color: #4d4d4d;
  font-weight: 100;
  padding: 7em 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content p {
  width: 69%;
  line-height: 1.8;
}

.about__content img {
  width: 345px;
  height: 209px;
  position: relative;
  left: -5em;
}

.about__tick i {
  color: #94c757;
}

.about__tick span {
  margin-left: 20px;
}

.services {
  background: #f8f9fa;
  padding: 7em 0;
}

.services__title--small {
  text-align: center;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1rem;
}

.services__hr--small {
  margin-bottom: 3em;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__content__box {
  color: #4d4d4d;
  width: 33.3333%;
}

.services__content__box i {
  color: #27186d;
  font-size: 3rem;
}

.services__content__box strong {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.services__content__box p {
  font-weight: 100;
  width: 80%;
  margin-left: 3.1em;
}

.services__content__box a {
  color: #27186d;
  text-decoration: none;
}

.services__content__box a:hover {
  color: #1e1253;
}

.contact {
  background: #f1f1f1;
  padding: 7em 0;
}

.contact__title--small {
  text-align: center;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1rem;
}

.contact__content {
  background: #fff;
  text-align: center;
  color: #4d4d4d;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.contact__content p {
  font-weight: 100;
  margin-top: -0.1em;
}

.contact__content p a {
  text-decoration: none;
  color: #27186d;
}

.contact__content p a:hover {
  color: #1e1253;
}

.footer {
  background: #333;
  padding: 8em 0;
  height: 85vh;
  text-align: right;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content__box {
  width: 33%;
}

.footer__content__box strong {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.footer__content__box p {
  color: #737373;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 100;
}

.footer__content__box ul li {
  list-style: none;
}

.footer__content__box ul li a {
  color: #999;
  text-decoration: none;
  list-style: none;
  font-weight: 100;
  line-height: 2.5;
  -webkit-transition: ease-in 0.15s;
  transition: ease-in 0.15s;
}

.footer__content__box ul li a:hover {
  color: #fff;
  -webkit-transition: ease-in 0.15s;
  transition: ease-in 0.15s;
}

.footer__hr--big {
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  margin-top: 4rem;
}

.footer__copyright {
  color: #737373;
  text-align: center;
  font-size: 80%;
  font-weight: 400;
  margin-top: 3rem;
}

@media screen and (max-width: 1160px) {
  .container {
    width: 900px;
  }
  .hero__content__txt {
    font-size: 3rem;
  }
}

@media screen and (max-width: 910px) {
  iframe {
    width: 100%;
  }
  img {
    display: none;
  }
  .container {
    width: 100%;
  }
  .about,
  .services,
  .contact {
    padding: 8em 0;
  }
  .logo {
    display: block;
    position: relative;
    margin: 0 auto 2em auto;
    left: 0 !important;
    width: 240px !important;
    height: 140px !important;
  }
  .sidenav__btn {
    display: block !important;
  }
  .navbar {
    display: block;
  }
  .navbar .container {
    height: 95px;
  }
  .navbar__title {
    margin: 0.5em 0.1em;
  }
  .navbar__nav {
    display: none;
  }
  .hero__content {
    max-width: 90%;
    padding: 0px;
  }
  .hero__content__txt {
    font-size: 150%;
  }
  .about__content {
    display: block;
  }
  .about__content__wrapper p {
    width: 100%;
  }
  .services__content {
    display: block;
  }
  .services__content__box {
    width: 100%;
  }
  .footer {
    height: 100%;
    padding: 3em 0;
  }
  .footer__content {
    display: block;
  }
  .footer__content__box {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */