@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

@font-face {
	font-family: Volkswagen;
	src: url('../fonts/VW.ttf');
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: #000;
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}

.active {
	font-weight: bold;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.parallax {
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hr--small {
	width: 80px;
	height: 3px;
	background: #27186d;
	bottom: 0;
	border: none;
}

.about__hr--small {
	margin-left: 0;
}

.about__title,
.services__title,
.contact__title {
	color: #27186d;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	margin-top: 0;
	line-height: 1.2;
}

.services__title,
.contact__title {
	text-align: center;
}

.logo {
	display: none;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 95px;
	z-index: 1;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: 'Volkswagen';
		font-size: 2rem;
		font-weight: 500;
		color: #fff;
		text-decoration: none;
		line-height: 1.2;
	}

	&__nav {
		a {
			color: #fff;
			text-decoration: none;
			font-size: 14px;
			letter-spacing: 0.1em;
			display: inline-block;
			padding: 10px 0;
			margin: 10px;
		}
	}
}

.navbar--scroll {
	background: #fff;
	transition: ease 0.5s;
	position: fixed;

	a,
	i {
		color: #27186d;
	}
}

.hero {
	height: 100vh;
	background-image: url('../images/bg.png');
	background-size: cover;
	background-position: 50% -25px;
	background-repeat: no-repeat no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;

	&__content {
		box-sizing: border-box;
		max-width: 66.6667%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		margin: 0 auto;
		opacity: 1;
	}

	&__btn {
		background-color: #27186d;
		border: 2px solid transparent;
		border-radius: 0;
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.2em;
		line-height: 1.5;
		padding: 1rem 3rem;
		user-select: none;

		&:hover {
			background-color: #1e1253;
			border-color: #1e1253;
			box-shadow: none;
			outline: none;
		}
	}

	&__name {
		color: rgba(255, 255, 255, 0.5);
		font-size: 1.2rem;
		font-weight: 100;
		line-height: 1.5;
		margin-bottom: 3rem;
		margin-top: 0;
	}

	&__txt {
		color: #fff;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 0.5rem;
		margin-top: 0;
		margin: 0 auto;
		text-transform: uppercase;
		text-align: center;
	}
}

.sidenav {
	height: 100%;
	width: 0;
	top: 0;
	right: 0;
	padding-top: 60px;
	position: fixed;
	z-index: 3;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 1.4em;
		color: #818181;
		display: block;
		transition: 0.3s;

		:hover {
			color: #f1f1f1;
		}
	}

	.closebtn {
		position: absolute;
		top: 12px;
		right: 17.5px;
		font-size: 36px;
		margin-left: 50px;
	}

	&__btn {
		display: none !important;
		position: relative;
		font-size: 30px;
		color: #fff;
		left: 15px;
		padding: 0.8em;
		z-index: 2;
		cursor: pointer;
	}
}

.sidenav__content {
	position: relative;
}

.about {
	color: #4d4d4d;
	font-weight: 100;
	padding: 7em 0;

	&__content {
		display: flex;

		p {
			width: 69%;
			line-height: 1.8;
		}

		img {
			width: 345px;
			height: 209px;
			left: -5em;
			position: relative;
		}
	}

	&__tick {
		i {
			color: #94c757;
		}

		span {
			margin-left: 20px;
		}
	}
}

.services {
	background: #f8f9fa;
	padding: 7em 0;

	&__title--small {
		text-align: center;
		font-weight: 100;
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 1rem;
		margin-top: 0;
	}

	&__hr--small {
		margin-bottom: 3em;
	}

	&__content {
		display: flex;
	}
	&__box {
		color: #4d4d4d;
		width: 33.3333%;

		i {
			color: #27186d;
			font-size: 3rem;
		}

		strong {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 0.5rem;
		}

		p {
			font-weight: 100;
			width: 80%;
			margin-left: 3.1em;
		}

		a {
			color: #27186d;
			text-decoration: none;

			&:hover {
				color: #1e1253;
			}
		}
	}
}

.contact {
	background: #f1f1f1;
	padding: 7em 0;

	&__title--small {
		text-align: center;
		font-weight: 100;
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 1rem;
		margin-top: 0;
	}

	&__content {
		background: #fff;
		text-align: center;
		color: #4d4d4d;
		padding: 1.5rem;
		margin-top: 3rem;
		margin-bottom: 1rem;

		p {
			font-weight: 100;
			margin-top: -0.1em;

			a {
				text-decoration: none;
				color: #27186d;

				&:hover {
					color: #1e1253;
				}
			}
		}
	}
}

.footer {
	background: #333;
	padding: 8em 0;
	height: 85vh;
	text-align: right;

	&__content {
		display: flex;
	}

	&__box {
		width: 33%;

		strong {
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 1.5rem;
			margin-top: 0;
		}

		p {
			color: #737373;
			font-weight: 100;
			margin-bottom: 1rem;
			margin-top: 0;
		}

		ul {
			li {
				list-style: none;

				a {
					color: #999;
					font-weight: 100;
					line-height: 2.5;
					list-style: none;
					text-decoration: none;
					transition: ease-in 0.15s;

					&:hover {
						color: #fff;
						transition: ease-in 0.15s;
					}
				}
			}
		}
	}

	&__hr--big {
		border: 0.5px solid rgba(255, 255, 255, 0.05);
		margin-top: 4rem;
	}

	&__copyright {
		color: #737373;
		text-align: center;
		font-size: 80%;
		font-weight: 400;
		margin-top: 3rem;
	}
}

@media screen and (max-width: 1160px) {
	.container {
		width: 900px;
	}
	.hero__txt {
		font-size: 3rem;
	}
}

@media screen and (max-width: 910px) {
	iframe {
		width: 100%;
	}
	img {
		display: none;
	}
	.container {
		width: 100%;
	}
	.about,
	.services,
	.contact {
		padding: 8em 0;
	}
	.logo {
		display: block;
		position: relative;
		margin: 0 auto 2em auto;
		left: 0 !important;
		width: 240px !important;
		height: 140px !important;
	}
	.sidenav__btn {
		display: block !important;
	}
	.navbar {
		display: block;

		.container {
			height: 95px;
		}

		&__title {
			margin: 0.5em 0.1em;
		}

		&__nav {
			display: none;
		}
	}
	.hero__content {
		max-width: 90%;
		padding: 0px;
	}
	.hero__txt {
		font-size: 150%;
	}
	.about__content {
		display: block;
	}
	.about__wrapper p {
		width: 100%;
	}
	.services__content {
		display: block;
	}
	.services__box {
		width: 100%;
	}
	.footer {
		height: 100%;
		padding: 3em 0;

		&__content {
			display: block;
		}
		&__box {
			width: 100%;
		}
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;

		a {
			font-size: 18px;
		}
	}
}
